<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<arg>
    <web-app>
        <servlet>
            <servlet-name>sonoojaiswal</servlet-name>
            <jsp-file>welcome.jsp</jsp-file>
            <init-param>
                <param-name>dname</param-name>
                <param-value>sun.jdbc.odbc.jdbcodbcdriver</param-value>
            </init-param>
        </servlet>
        <servlet-mapping>
            <servlet-name>sonoojaiswal</servlet-name>
            <url-pattern>/welcome</url-pattern>
        </servlet-mapping>
    </web-app> 
</arg>
